body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 60px 0 60px 0;
}
.clear:after {
  content: "";
  display: block;
  clear: both;
}
input,
button,
textarea {
  outline: none;
}
.search_form_unselect {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}
.search_form_select {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}
#mainSectionWrapper {
  width: 100%;
  height: 100%;
}
#mainSectionWrapper #mainSection {
  width: 1200px;
  margin: 16px auto 0 auto;
}
